.login{
    margin: auto;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 20px 20px 10px 20px;  
    border-radius: 5px;
}

.login h3{
    color: #009EFF;
    font-size: 20px;
    font-weight: 400;
}

.login p{
    font-size: 15px;
    padding-top: 5px;
    color: #474747;
}

.login a{
    color: #009EFF;
}

.login a:hover{
    color: #009EFF;
}
.login  .terms{
    text-align: center; 
    font-size: 12px; 
    padding-left: 20px; 
    padding-right: 20px; 
    padding-top: 20px; 
} 
input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: green;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
.name input {
    margin-top: 4px;
    height: 35px;
    outline: 0;
    border-width: 0 0 1px;
    border-color: #d1d1d1;
    width: 100%;
    padding: 0px 14px;
}
/* Floating label for whole page */
.body-details .title{
    height: 40px;
    width: 350px;
    border: 0.5px solid #d1d1d1;
    margin-top: 20px;
    border-radius: 4px 4px 0px 0px;
}
.name .title{
    width: 100% !important; 
    padding: 0;
}
.body-details .header{
    position:absolute;
    margin-top:-16px;
    margin-left:10px;
    color:#474747;
    background:#fff;
    padding:2px;
}
.helpertext{
    font-size: 12px;
    margin-top: 0% !important;
    opacity: 0.5;
    margin: 5px 0px;
    padding: 0% 5% ;
} 
.inputRadio{
    padding: 4%;
    position: relative;
    bottom:-2px;
    color: green;
    margin-top: 2px;
}
.inputWithIcon .form-control {
    width: 100%;
    border: 1px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    padding-left: 40px;
}

.inputWithIcon .form-control:focus{
    box-shadow: none;
    border: 1px solid #aaa;
}
  
.inputWithIcon {
    position: relative;
    padding-bottom: 5px;
    margin: 5px;
}

.inputWithIcon .material-symbols-outlined {
    position: absolute;
    left: 0;
    top: 2px;
    padding: 7px 10px;
    color: #d1d1d1;
    font-size: 22px;
}

.login .btn{
    color: white;
    background-color: #009EFF;
    width: 100%;
    border-radius: 25px; 
    margin-top: 20px;
}

.login .btn:hover{
    color: white;
    background-color: #009EFF;
}
 
/* Desktop View */
@media (max-width: 1399.98px) {
    .login{
        width: 30%;
    }
}

/* Laptop View  */
@media (max-width: 1199.98px) {
    .login{
        width: 40%;
    }
}

/* Tablet View  */
@media (max-width: 991.98px) {
    .login{
        width: 50%;
    }
}

/* Mobile View  */
@media (max-width: 575.98px) {
    .login{
        width: 100%;
    }
}