.form-control:focus{
    border: 1px solid #ced4da !important;
    box-shadow: none !important;
    border-color: none !important;
}
.login{
    margin: auto;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 20px; 
    margin-top: 5%;
    border-radius: 5px;
}

.login h3{
    color: #009EFF;
    font-size: 20px;
    font-weight: 400;
}

.login p{
    font-size: 15px;
    padding-top: 5px;
    color: #474747;
}

.login a{
    color: #009EFF;
}

.login a:hover{
    color: #009EFF;
}
.login  .terms{
    text-align: center; 
    font-size: 12px; 
    padding-left: 20px; 
    padding-right: 20px; 
    padding-top: 20px; 
}

.inputWithIcon .form-control {
    width: 100%;
    border: 1px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    padding-left: 40px;
}

.inputWithIcon .form-control:focus{
    box-shadow: none;
    border: 1px solid #aaa;
}
  
.inputWithIcon {
    position: relative;
    padding-bottom: 10px;
    margin: 5px;
}

.login .btn{
    color: white;
    background-color: #009EFF;
    width: 100%;
    border-radius: 25px; 
}

.login .btn:hover{
    color: white;
    background-color: #009EFF;
}

input[type="text"],input[type="email"],input[type="phone"], input[type='password'] {
    width: 100%;
    border: 1px solid #aaa;
    outline: none;
    padding: 8px;
    padding-left: 20px;
    box-sizing: border-box;
    border-radius: 4px;
}
/* Desktop View */
@media (max-width: 1399.98px) {
    .login{
        width: 30%;
    }
}

/* Laptop View  */
@media (max-width: 1199.98px) {
    .login{
        width: 40%;
    }
}

/* Tablet View  */
@media (max-width: 991.98px) {
    .login{
        width: 50%;
    }
}

/* Mobile View  */
@media (max-width: 575.98px) {
    .login{
        width: 100%;
    }
}
.red{
    color: red;
}

.green{
    color: green;
}

.orange{
    color: orange;
}