 <!-- Remove the container if you want to extend the Footer to full width. -->
 <div class="container-fluid footer" style="padding-left: 0; padding-right: 0;">
    <!-- Footer -->
    <footer class="text-start text-lg-start text-white" style="background-color: #009EFF;">
        <!-- Grid container -->
        <div class="container">
            <!-- Section: Links -->
            <section class="">
                <!--Grid row-->
                <div class="row">
                    <div class="col-md-2 col-lg-2 col-xl-2 mt-3">
                        <a class="footer-brand" href="{% url 'index' %}" style="margin-top: 20px;">
                            <img src="./img/footer_logo.png" alt="Logo" width="10" height="40" class="d-inline-block align-text-center">
                            <span style="padding-top: 50%;">Jusdots</span>
                        </a>
                        
                    </div>
                </div>
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3 footer-tab1">
                        <p style="cursor: pointer;"><a href="{% url 'about' %}" class="text-white">About us</a></p>
                        <p><a class="text-white" href="#Contactus" data-toggle="modal" data-target="#contactModal">Contact us</a></p>
                        <p><a href="" class="text-white">Careers</a></p>
                        <p><a class="text-white">Blog</a></p>
                    </div>
                    <!-- Grid column -->

                    <hr class="w-100 clearfix d-md-none" />

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3 footer-tab2">
                        
                        <p><a class="text-white">Help & Support</a></p>
                        <p><a class="text-white">Affiliated</a></p>
                        <p><a class="text-white">Terms</a></p>
                        <p><a class="text-white">Privacy Policy</a></p>
                    </div>
                    <!-- Grid column -->

                    <hr class="w-100 clearfix d-md-none footer-hr1"/>

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3 footer-tab3">
                        <p><a class="text-white">Refund Policy</a></p>
                        <p><a class="text-white">Terms & Condition</a></p>
                        <p><a class="text-white">FAQ</a></p>
                        <p><a class="text-white">Cookies Policy</a></p>
                    </div>

                    <!-- Grid column -->
                    <hr class="w-100 clearfix d-md-none footer-hr1" />

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 download-app">
                        <center>
                            <a class="app-btn blu flex" href="#AppStore">
                                Chat Directly. <br>190K+ verified recruiter +918446164920
                            </a>
                        </center>
                    </div>
                    <!-- Grid column -->
                </div>
                <!--Grid row-->
            </section>
            <!-- Section: Links -->

            <hr>

            <!-- Section: Copyright -->
            <section class="p-3 pt-0">
                <div class="row d-flex align-items-center">
                    <!-- Grid column -->
                    <div class="col-md-7 col-lg-8 text-center text-md-start">
                        <!-- Copyright -->
                        <div class="p-3">© All rights reserved.</div>
                        <!-- Copyright -->
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
                        <!-- Facebook -->
                        <a class="btn social-grid" role="button">
                            <img src="./img/facebook-logo.png" width='50'>
                        </a>

                        <!-- Twitter -->
                        <a class="btn social-grid" role="button">
                            <img src="./img/instagram-logo.png" width='50'>
                        </a>

                        <!-- Google -->
                        <a class="btn social-grid" role="button">
                            <img src="./img/twitter-logo.png" width='50'>
                        </a>

                        <!-- Instagram -->
                        <a class="btn social-grid" role="button">
                            <img src="./img/linkedin-logo.png" width='50'>
                        </a>

                        <a class="btn social-grid" role="button">
                            <img src="./img/pintrest-logo.png" width='50'>
                        </a>

                    </div>
                    <!-- Grid column -->
                </div>
            </section>
            <!-- Section: Copyright -->
        </div>
        <!-- Grid container -->
    </footer>
    <!-- Footer -->
</div>
<!-- End of .container -->