<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jusdots</title> 

    <link rel="stylesheet" href="{% static 'css/register.css' %}"> 

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<!-- Ionic Icon -->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<!-- bootstrap Icon  -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

<!-- Google Icon -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,200,0,0" />

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script  src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}" style="color: #009eff;">
                <img src="{% static 'img/logo1.png'%}" alt="Logo"  height="60" width="60" class="d-inline-block align-text-center">
                <span style="vertical-align: bottom; font-size:26px;">Jusdots</span>
            </a>
        </div>
    </nav>
    <div class="container body-details  "  >
        <div class="login">
            <h3>Register New Account</h3>
            <center>  
                <div class="container" >
                {% if messages %}
                        <div class ="messages" style="width: 300px;">
            
                    {% for message in messages  %}
                            <div class="alert alert-danger" role="alert">
                                <strong style="font-size: 18px;">! {{message}}</strong> 
                            </div>
            
                    {% endfor %}
            
                        </div>
                        
                {% endif %}
                </div> 
            </center> 
            <p>Already have an account click <a href="{% url 'login' %}">login</a></p>
            <!-- {% comment %} <form method="POST">
                {% csrf_token %}
                    {{ registration_form }}
                <button type="submit" class="btn ">Create Account</button>
            </form> {% endcomment %} -->

            <form method="POST" class="post-form" > 
                {% csrf_token %}
                <!--   -->
                <div class="name">
                    <div class="title inputWithIcon">
                        <div class="header">Email</div>
                        <input type="text" name="email" id="id_email">
                        <!-- <span class="material-symbols-outlined">email</span> -->
                    </div>
                </div>
                <div class="name">
                    <div class="title inputWithIcon">
                        <div class="header">Username</div>
                        <input type="text" name="username" id="id_username">
                        <!-- <span class="material-symbols-outlined">account_circle</span> -->
                    </div>
                </div> 
                <div class="name">
                    <div class="title inputWithIcon">
                        <div class="header">Password</div>
                        <input type="password" id="id_password1" name="password1" onkeyup="validatepass(this)">
                        <!-- <span class="material-symbols-outlined">lock</span> -->
                    </div>
                </div>  
                <ul class="helpertext">
                    <input class="inputRadio" id="ir1" type="radio" disabled>   At Least 8 Characters Long <br>
                    <input class="inputRadio" id="ir3" type="radio" disabled>   Must not be similar to Username<br>
                    <input class="inputRadio" id="ir2" type="radio" disabled>   Must Contain 1 Special a number<br>
                    <input class="inputRadio" id="ir4" type="radio" disabled>   Must Contain 1 Special Character<br>   
                    <input class="inputRadio" id="ir5" type="radio" disabled>   Must Contain 1 Special an Uppercase letter
                </ul> 
                <div class="name">
                    <div class="title inputWithIcon">
                        <div class="header">Confirm Password</div>
                        <input type="password" id="id_password2" name="password2"onkeyup="validate_password()">
                        <!-- <span class="material-symbols-outlined">lock</span> -->
                        <span style="margin-left: 2%;" id="wrong_pass_alert"></span>
                    </div>
                </div>
                 
                
                <button type="submit" class="btn "  onclick="wrong_pass_alert()">Create Account</button>
            </form>
            <p class="terms">By proceeding you are accepting terms of service and privacy policy</p> 
        </div>
    </div>
     
    <script src="../static/js/main.js"></script>
</body>
</html>